.session-form {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 22px;
  background-color: white;
  border-radius: 10px;
  height: 100%;
}

.session-form input {
  border: 1px solid #ebebeb;
  border-radius: 10px;
  padding: 10px;
}

.close {
  font-weight: 300;
}

.form-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 25px;
}

.submit-button {
  margin-top: 20px;
  text-align: center;
  border-radius: 20px;
  background-color: #77966D;
  padding: 10px;
  color: white;
}

.submit-button:disabled {
  background-color: #ebebeb;
  color: black;
}

.bottom-flat {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.errors {
  min-height: 16px;
  color: #77966D;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
}

#line-div {
  padding-top: 20px;
  display: flex;
  align-items: center;
}

#or {
  display: inline-block;
  padding-left: 2.5%;
  padding-right: 2.5%;
  font-weight: 300;
  padding-bottom: 2px;
}

.line {
  width: 47%;
  display: inline-block;
}

.demo-button {
  margin-top: 20px;
    text-align: center;
    border-radius: 20px;
    background-color: #222222;
    padding: 10px;
    color: white;
}

