.list-view-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.profile-container img{
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 15px;
}

.profile-container h3 {
    position: relative;
    transform: translateY(-5vh);
    font-size: 25px;
    color: white;
    padding-left: 10px;
    text-shadow: 1 1 1 #ebebeb;
}
