@media (min-width: 0) {
  .matchesGrid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 900px) {
  .matchesGrid {
    grid-template-columns: 1fr 1fr;
  }
}
.matchesSidebarContainer {
  width: 30vw;
  background-color: #FFFFFF;
  border-right: 1px solid #ebebeb;
  height: 90vh;
  overflow: overlay;
}

.matchesSidebarTitle {
  font-size: x-large;
  text-align: center;
  padding: 10px;
}

.matchesGrid {
  display: grid;
  column-gap: 20px;
  margin: 0 20px;
}
