.messageUl {
  background-color: #EBEBEB;
  /* box-sizing: border-box; */

  overflow: scroll;
}

.messagingContainer {
  width: 70vw;
  display: flex;
  flex-direction: column;
  height: 90vh;
}

#messageInput {
  padding: 10px;
  flex-grow: 1;
}

.leftMessage {
  text-align: left;
}

.rightMessage {
  text-align: end;
}