.card {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

.mySwiper {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19); */
}

.swiper-pagination-progressbar.swiper-pagination-vertical, .swiper-vertical > .swiper-pagination-progressbar {
    height: 20%;
    top: 30px;
    left: auto;
    right: 25px;
    --swiper-theme-color: green;
}

.card-content {
    display: flex;
    height: 80%;
    width: 100%;
}

.card-content-container {
    /* margin-top: 20px; */
}

.user-img {
    /* background-image: url('https://media.wired.com/photos/5926fb75cfe0d93c47431fef/master/pass/fb_14-m-zuckerberg4_0963_fullsizeJPG_SRGB.jpg'); */
    background-size: 100% 100%;
    width: 50%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
}

.user-img-style-left {
    object-fit: cover;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
    /* box-sizing: border-box; */
}

.user-img-style-right {
    object-fit: cover;
    /* object-position: 50% 50%; */
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    /* box-sizing: border-box; */
}

.left-div {  
    width: 50%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right-div {
    width: 50%;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-name-age {
    padding: 20px;
}

.full-div {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.prompts-text h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.full-div > p {
    margin-top: 20px;
    text-align: center;
}

.left-div > p {
    padding: 20px;
    text-align: center;
}

.colored-div {
    background-color: #77966d;
}

.uncolored-div {
    background-color: #ebebeb;
}

.colored-div > * {
    color: white;
}