#button-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#nav-button {
    border: 1px solid #dddddd;
    border-radius: 50%;
    padding: 5px;

}


#nav-button:hover {
    box-shadow: 0 0 5px 0.5px #dddddd;
    padding: 5;
    transition: box-shadow 0.2s ease;
    transition-property: box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.profile-dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 10px;
    width: 200px;
    top: 8vh;
    right: 1vw
}

.profile-dropdown li {
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

.profile-dropdown li:hover {
    background-color: #F1F1F1;
}

.profile-pic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    
}
