.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.NavBar button {
    height: 20px;
}

.links-nav {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    height: 10vh;
    /* border-bottom: 1px solid #ebebeb;; */
}

.navLogoContainer {
    display: flex;
    align-items: center;
}

.logoImg {
    margin-left: 10px;
    height: 30px;
}

.splash-nav-buttons {
    background-color: #222222;
    color: white;
    border-radius: 40px;
    padding: 10px;
    text-align: center;
    margin-left: 15px;
    margin-top: 3px;
    margin-bottom: 5px;
}

.splash-nav-buttons:hover {
    background-color: #77966D;
    
}