@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translate3d(0, 130%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounce {
    from {
        transform: translateY(80vh);
    }

    to {
        transform: translatey(81vh);
    }
}

@keyframes bounce-side {
    from {
            transform: translateX(-3px);
        }
    
        to {
            transform: translateX(10px);
        }
}

.splash-page-container {
    height: 90vh;
    width: 100vw;
}


.inner {
    position: absolute;
}

.background-one {
    background-color: #222222;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-one-img-container {
    height: 100%;
    width: 100%;
    transform: translateY(130%);
    transition-timing-function: ease-in-out;
        animation: slideIn 3s;
        animation-delay: 1.5s;
        animation-fill-mode: forwards;
}

.slide-one-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.slide-one-text {
    transform: translate(6vw, 50vh);
}

.slide {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.slide-one-text h1 {
    font-size: 80px;
    color: white;
    opacity: 0;
    transition-timing-function: ease-in-out;
    animation: fadeIn 4s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
}

.slide-two {
    background-color: #ebebeb;
    height: 100%;
    width: 100%;
}

.image-conatiner {
    width: 50%;
}

.image-splash {
    width: 240px;
    height: 300px;
    background-color: #222222;
    border-radius: 15px;
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
}

.slide-two-1 {
    top: 8vh;
    left: 28vw;
    width: 180px;
    height: 240px;
}

.slide-two-2 {
    top: 35vh;
    left: 5vw;
    width: 220px;
    height: 280px;
}
.slide-two-3 {
    top: 45vh;
    left: 28vw;
    width: 200px;
    height: 260px;
}
.slide-two-4 {
    top: 20vh;
    left: 15vw;
    width: 260px;
    height: 360px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    padding: 0 40px;
}

.text-container p {
    padding: 10px 20px;
}

.text-container h3 {
    font-size: 90px;
    font-weight: 600;
}

.text-container p {
    font-size: 20px;
}

#logo {
    transition-timing-function: ease-in-out;
    animation: fadeIn 2s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.bouncy-down-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    opacity: 0;

    animation: fadeIn 1s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

.bouncy-down-container {
    position: fixed;
    text-align: center;
    transform: translateY(85vh);
    align-items: center;
    background-color: #222222;
    border-radius: 50%;

    animation: bounce 1.5s;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
}

.down-chevron {
    color: white;
    font-size: 30px;
    padding: 10px 10px 5px 10px;
}

.form-splash {
    display: flex;
    align-items: center;
    background-color: #222222;
    padding: 15px;
}

.background-one span{
    color: white;
    font-size: 110px;
    font-weight: 600;
}

.background-one span:nth-child(1) {
    opacity: 0;
    animation: fadeIn 2s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.background-one span:nth-child(2) {
    opacity: 0;
    animation: fadeIn 2s;
        animation-delay: 0.1s;
        animation-fill-mode: forwards;
}

.background-one span:nth-child(3) {
    opacity: 0;
    animation: fadeIn 2s;
        animation-delay: 0.2s;
        animation-fill-mode: forwards;
}

.background-one span:nth-child(4) {
    opacity: 0;
    animation: fadeIn 2s;
        animation-delay: 0.3s;
        animation-fill-mode: forwards;
}

.background-one span:nth-child(5) {
    opacity: 0;
    animation: fadeIn 2s;
        animation-delay: 0.4s;
        animation-fill-mode: forwards;
}

.background-one span:nth-child(6) {
    opacity: 0;
    animation: fadeIn 2s;
        animation-delay: 0.6s;
        animation-fill-mode: forwards;
}

.right-arrow {
    padding-top: 15px;
    font-size: 50px;

    animation: bounce-side 1.5s;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
}