.create-user-profile-page {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding: 15px;
}

.profile-form-heading {
  align-self: center;
  font-size: 30px;
}

.user-profile-form {
  display: flex;
  margin-top: 15px;
  flex-direction: column;
}

.user-profile-form-container {
  display: flex;
  justify-content: space-around;
}

.user-profile-form textarea {
  border: 1px solid #222222;
  border-radius: 5px;
  width: 70%;
}

.user-profile-form-left, .user-profile-form-right {
  width: 47%;
  /* margin-right: 2%;
  margin-left: 2%; */
}

.create-profile-button {
  align-self: center;
  margin-top: 15px;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  padding: 10px;
  background-color: #77966D;
  color: white;
  text-align: center;
}

.create-profile-button:hover {
  background-color: #748067;
}

.first-name-container, .age-container, .city-container {
  display: flex;
  flex-direction: column;
}

.profile-form-input {
  width: 70%;
  height: 25px;
  padding: 5px;
  border: 1px solid #222222;
  border-radius: 5px;
}

.profile-button-unchecked {
  border: 1px solid #222222;
  padding: 5px;
  min-width: 30px;
  min-height: 30px;
  margin-right: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-button-unchecked:hover {
  background-color: #77966D;
  color: white;
  border: 1px solid #77966D;
}

.profile-button-checked {
  border: 1px solid #77966D;
  background-color: #77966D;
  color: white;
  padding: 5px;
  min-width: 30px;
  min-height: 30px;
  margin-right: 10px;  
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-buttons-container {
  display: flex;
  flex-wrap: wrap;
}

.profile-input-header {
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 2px;
}

.bio-container {
  margin-top: 10px;
}

#bio-field {
  padding: 5px;
}

/* input[type="file"] {
  display: none;
} */

.custom-file-upload {
  margin-bottom: 10px;
}

.photo-upload-container {
  margin-top: 15px;
}

.file-button-container {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

#delete-profile-button {
  align-self: center;
  margin-top: 15px;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  padding: 10px;
  /* background-color: #77966D; */
  color: #d31334;
  border: 1px solid #d31334;
  text-align: center;
}

#delete-profile-button:hover {
  background-color: #b0102b;
  color: white;
}

.confirm-delete-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 550px;
  min-height: 300px;
}

.delete-form-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid #222222;
}

.delete-form-top h2 {
  font-size: 20px;
}

.delete-form-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 250px;
}

.confirm-delete-buttons {
  border: 1px solid black;
  width: 300px;
  height: 30px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin-top: 15px;
  color: #d31334;
  border: 1px solid #d31334;
}

.confirm-delete-buttons:hover {
  background-color: #b0102b;
  color: white;
}

.form-errors li {
  color: #d31334;
}

.form-errors {
  align-self: center;
}