.create-user-profile-page {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding: 15px;
}

.profile-form-heading {
  align-self: center;
  font-size: 30px;
}

.user-profile-form {
  display: flex;
  margin-top: 15px;
  flex-direction: column;
}

.user-profile-form-container {
  display: flex;
  justify-content: space-around;
}

.user-profile-form textarea {
  border: 1px solid #222222;
  border-radius: 5px;
  width: 70%;;
}

.user-profile-form-left, .user-profile-form-right {
  width: 47%;
  /* margin-right: 2%;
  margin-left: 2%; */
}

.create-profile-button {
  align-self: center;
  margin-top: 15px;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  padding: 10px;
  background-color: #77966D;
  color: white;
  text-align: center;
}

.create-profile-button:hover {
  background-color: #748067;
}

.first-name-container, .age-container, .city-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.profile-form-input {
  width: 50%;
  height: 25px;
  padding: 5px;
  border: 1px solid #222222;
  border-radius: 5px;
}